main{
    padding-top: calc(52px + 1rem);

    .admin-dashboard{
        padding: calc(52px + 1.5rem) 10rem 1.5rem 10rem;
        
        .row{
            display: flex;
            border-bottom: 1px solid black;

            .id{
                width: 4rem;
                border-left: 1px solid black;
            }

            .col{
                width: calc(25% - 1rem);
            }

            &>div{
                border-right: 1px solid black;
                padding-left: 5px;
                display: flex;
                align-items: center;
            }

            &>div:last-of-type{
                display: flex;
                justify-content: space-evenly;
                font-size: large;

                a{
                    text-decoration: none;
                    color: green;
                    font-weight: 600;
                }

                a:first-of-type{
                    color: #654afe;
                }

                input{
                    background-color: transparent;
                    color: red;
                    font-weight: 600;
                    border: 0;
                    font-size: large;
                    cursor: pointer;
                }

                a:hover , input:hover{
                    text-decoration: underline;
                }
            }
        }

        .row:first-of-type{
            border-top: 1px solid black;

            &>div{
                display: flex;
                justify-content: center;
                padding: 0;
            }
        }
    }

    .posts-container{
        padding: 0 10rem;

        a{
            text-decoration: none;
            color: black;

            .post{
                display: flex;
                padding: 1rem 0;
                border-bottom: 2px solid black;
                
                .right{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    padding: 0 2rem;
                    .title{
                        text-align: center;
                    }
                }
            }

            &:hover{

                p{
                    text-decoration: underline;
                }
            }
        }
    }

    .categories-container{
        display: flex;
        width: 100%;
        flex-wrap: wrap;

        a{
            width: calc(20% - 2rem);
            text-decoration: none;
            background-color: cornflowerblue;
            color: white;
            margin: 0 1rem;
            height: 25vh;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
        }
    }

    .forms{
        display: flex;
        flex-direction: column;
        align-items: center;
        form{
            width: 50%;
            display: flex;
            flex-direction: column;

            input , textarea , select , option{
                padding: 0.5rem 1rem;
                margin: 1rem 0;
            }

            input:last-of-type{
                border: 2px solid #654afe;
                border-radius: 5px;
                color: #654afe;
                font-weight: 600;
                background: transparent;
                transition: all 0.3s;
                cursor: pointer;

                &:hover{
                    color: white;
                    background-color: #654afe;
                }
            }
        }
    }

    .category-container{
        display: flex;
        flex-direction: column;

        .title{
            align-self: center;
        }

        .posts{

            .related-posts-container , .related-products-container{
                display: flex;

                a{
                    width: calc(25% - 2rem);
                    margin: 1rem;
                    overflow: hidden;

                    .post , .product{

                        .image{

                            img{
                                width: 100%;
                                height: 30vh;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }
    }
}