main{
    background-color: white;

    .jumbo-container{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        .video{
            width: 100%;
            video{
                height: 75vh;
                width: 100%;
                object-fit: cover;
                object-position: center;
                filter: brightness(0.7);
            }
        }

        .jumbo-text{
            position: absolute;
            padding: 5rem;
            border: 4px solid #654afe;
            color: white;
            border-radius: 10px;
            backdrop-filter: blur(5px) brightness(0.9);
            width: 50%;
            height: 75%;
            top: calc(12.5% + 26px);
            display: flex;
            justify-content: center;

            .icons{
                display: flex;
                width: 100%;
                justify-content: space-between;

                a{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-decoration: none;
                    color: white;
                    position: relative;
                    bottom: 0;
                    transition: all 0.3s;

                    i{
                        margin-bottom: 0.5rem;
                    }

                    &:hover{
                        bottom: 10px;
                        color: #654afe;
                    }
                }
            }

            .slogans{
                text-align: center;
                position: absolute;
                bottom: 5rem;
                justify-self: center;
                h1{
                    font-weight: 100;
    
                    em{
                        font-weight: 900;
                        font-style: normal;
                    }
                }
            }
        }
    }
        
    .content-container{
        
        .site-description{
            padding: 0 10rem;
            background-color: #e4e4e4;
            padding-bottom: 3rem;

            &>h1{
                text-align: center;
                color: #654afe;
                padding: 2.5rem 0;
                font-size: xxx-large;
                font-weight: 900;
            }

            .description-row{
                display: flex;
                align-items: center;

                .left{
                    width: 60%;
                    padding-right: 2rem;

                    img{
                        width: 100%;
                        border-radius: 10px;
                    }
                }

                .right{
                    width: 40%;

                    h2{
                        margin-bottom: 1rem;

                        em{
                            font-style: normal;
                            text-decoration: underline;
                        }
                    }

                    .line{
                        width: 30%;
                        height: 5px;
                        background-color: #654afe;
                        margin-bottom: 1rem;
                        border-radius: 5px;
                    }

                    p{
                        margin-bottom: 0.5rem;
                    }

                    p:last-of-type{
                        margin: 0;
                    }
                }
            }
        }

        .plans-container{
            display: flex;
            padding: 5rem 10rem;
            background-color: #654afe;

            a{
                width: calc((100% / 3) - 6rem);
                margin: 0 3rem;
                padding: 1.5rem 0; 
                transition: all 0.3s;
                position: relative;
                bottom: 0;
                cursor: pointer;
                text-decoration: none;
                color: black;

                h1{
                    color: #654afe;
                }

                .plan{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 3rem 1.5rem;
                    background-color: #fbfcff;
                    border-radius: 15px;
                    position: relative;
                    height: 100%;
    
                    &>h1{
                        border-bottom: 1px solid #654afe;
                        width: 100%;
                        text-align: center;
                        padding-bottom: 2rem;
                    }
    
                    .row{
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        border-bottom: 1px solid #654afe;
                        padding: 0.5rem 1rem;
    
                        p:last-of-type{
                            color: green;
                        }
                    }
    
                    img{
                        filter: hue-rotate(30deg);
                        margin-bottom: 1.5rem;
                    }
    
                    .price{
                        display: flex;
                        align-items: baseline;
                        margin-top: 1rem;
    
                        h1{
                            padding: 0 0.25rem;
                        }
                    }
    
                    .best{
                        position: absolute;
                        left: 0;
                        top: 2rem;
                        padding: 0.25rem 1rem 0.25rem 1.5rem;
                        background-color: green;
                        color: white;
                        border-top-right-radius: 20px;
                        border-bottom-right-radius: 20px;
                    }
                }

                &:hover{
                    bottom: 10px;
                }
            }

            a:nth-of-type(2){
                padding: 0;

                .plan{
                    justify-content: center;
                }
            }
        }
    }
}
