main{
    padding-top: calc(1rem + 52px);

    .admin-dashboard{
        padding: calc(52px + 1.5rem) 10rem 1.5rem 10rem;
        
        .row{
            display: flex;
            border-bottom: 1px solid black;

            .id{
                width: 4rem;
                border-left: 1px solid black;
            }

            .col{
                width: calc(25% - 1rem);
            }

            &>div{
                border-right: 1px solid black;
                padding-left: 5px;
                display: flex;
                align-items: center;
            }

            &>div:last-of-type{
                display: flex;
                justify-content: space-evenly;
                font-size: large;

                a{
                    text-decoration: none;
                    color: green;
                    font-weight: 600;
                }

                a:first-of-type{
                    color: #654afe;
                }

                input{
                    background-color: transparent;
                    color: red;
                    font-weight: 600;
                    border: 0;
                    font-size: large;
                    cursor: pointer;
                }

                a:hover , input:hover{
                    text-decoration: underline;
                }
            }
        }

        .row:first-of-type{
            border-top: 1px solid black;

            &>div{
                display: flex;
                justify-content: center;
                padding: 0;
            }
        }
    }

    .posts-container{
        padding: 0 10rem;

        a{
            text-decoration: none;
            color: black;

            .post{
                display: flex;
                padding: 1rem 0;
                border-bottom: 2px solid black;

                .left{
                    width: 30%;

                    img{
                        width: 100%;
                        height: 30vh;
                        object-fit: cover;
                    }
                }
                
                .right{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    padding: 0 2rem;
                    width: 70%;
                    .title{
                        text-align: center;
                    }
                }
            }

            &:hover{

                p{
                    text-decoration: underline;
                }
            }
        }
    }

    .forms{
        display: flex;
        flex-direction: column;
        align-items: center;
        form{
            width: 50%;
            display: flex;
            flex-direction: column;

            input , textarea , select , option{
                padding: 0.5rem 1rem;
                margin: 1rem 0;
            }

            input:last-of-type{
                border: 2px solid #654afe;
                border-radius: 5px;
                color: #654afe;
                font-weight: 600;
                background: transparent;
                transition: all 0.3s;
                cursor: pointer;

                &:hover{
                    color: white;
                    background-color: #654afe;
                }
            }
        }
    }

    .post-show-container{
        display: flex;
        align-items: center;
        flex-direction: column;
        
        .image{
            position: relative;
            display: flex;
            justify-content: center;
            width: 100%;

            img{
                width: 100%;
                height: 50vh;
                object-fit: cover;
                object-position: center;
            }

            .title{
                position: absolute;
                bottom: 0%;
                backdrop-filter: blur(5px) brightness(0.7);
                padding: 0.5rem 1rem;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                border: 2px solid white;
                border-bottom: 0;
                color: white;
            }

        }

        .content{
            width: 50%;

            .tags{
                display: flex;

                .tag{
                    width: 20%;
                    text-align: center;
                    margin: 0.5rem;
                    background-color: #f3903c;
                    color: white;
                    padding: 0.5rem 0;
                }
            }
            
            .post-body{
                margin: 2rem 0;
            }
        }
    }
}