main{

    .products-container{
        display: flex;
        flex-wrap: wrap;
        padding-top: calc(52px + 1.5rem);

        a{
            width: calc(25% - 2rem);
            margin: 0 1rem;
            margin-bottom: 2rem;
            color: black;
            text-decoration: none;
            
            .product{
                display: flex;
                flex-direction: column;
                height: 100%;
    
                img{
                    width: 100%;
                }
    
                .product-info{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    flex-grow: 1;
    
                    h4{
                        margin-bottom: 1rem;
                    }
                }
            }

            &:hover{
                text-decoration: underline;
            }
        }
    }

    .show-container{
        padding: 0 10rem;
        padding-top: calc(52px + 1.5rem);
        display: flex;

        .right{
            padding-left: 3rem;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            .bottom{
                display: flex;
                justify-content: space-between;

                .price , .aviability{
                    display: flex;

                    p{
                        margin-left: 1rem;
                    }
                }

                .aviability{

                    p{
                        color: red;
                    }
                }
            }
            
        }
    }

    .admin-dashboard{
        padding: calc(52px + 1.5rem) 10rem 1.5rem 10rem;
        
        .row{
            display: flex;
            border-bottom: 1px solid black;

            .id{
                width: 4rem;
                border-left: 1px solid black;
            }

            .col{
                width: calc(25% - 1rem);
            }

            &>div{
                border-right: 1px solid black;
                padding-left: 5px;
                display: flex;
                align-items: center;
            }

            &>div:last-of-type{
                display: flex;
                justify-content: space-evenly;
                font-size: large;

                a{
                    text-decoration: none;
                    color: green;
                    font-weight: 600;
                }

                a:first-of-type{
                    color: #654afe;
                }

                input{
                    background-color: transparent;
                    color: red;
                    font-weight: 600;
                    border: 0;
                    font-size: large;
                    cursor: pointer;
                }

                a:hover , input:hover{
                    text-decoration: underline;
                }
            }
        }

        .row:first-of-type{
            border-top: 1px solid black;

            &>div{
                display: flex;
                justify-content: center;
                padding: 0;
            }
        }
    }

    .forms{
        padding: calc(52px + 1.5rem) 10rem 1.5rem 10rem;
        display: flex;
        align-items: center;
        flex-direction: column;

        form{
            width: 50%;
            display: flex;
            flex-direction: column;

            input , textarea , select , option{
                padding: 0.5rem 1rem;
                margin: 1rem 0;
            }

            input:last-of-type{
                border: 2px solid #654afe;
                border-radius: 5px;
                color: #654afe;
                font-weight: 600;
                background: transparent;
                transition: all 0.3s;
                cursor: pointer;

                &:hover{
                    color: white;
                    background-color: #654afe;
                }
            }
        }
    }
}