* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Nunito, sans-serif;
}

main {
  min-height: calc(100vh - 324px);
}

header {
  width: 100%;
  position: fixed;
  background-color: #654afe;
  color: white;
  z-index: 99;
}

header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 10rem;
}

header .header-container .center nav {
  display: flex;
}

header .header-container .center nav li {
  list-style-type: none;
}

header .header-container .right {
  width: 10%;
}

header .header-container .right nav {
  display: flex;
  justify-content: space-between;
}

header .header-container .right nav li {
  list-style-type: none;
}

header .header-container .right .authenticated {
  position: relative;
}

header .header-container .right .authenticated .dropdown {
  position: absolute;
  top: 20px;
  left: -1rem;
  opacity: 0;
  transition: all 0.3s;
  overflow: hidden;
  background-color: #654afe;
  padding: 1rem;
}

header .header-container .right .authenticated .dropdown .dropdown-item {
  margin-bottom: 0.5rem;
}

header .header-container .right .authenticated .dropdown .dropdown-item:hover {
  text-decoration: underline;
}

header .header-container .right .authenticated .nav-link {
  display: flex;
  align-items: center;
  color: white;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  transition: all 0.3s;
  cursor: pointer;
}

header .header-container .right .authenticated .nav-link span .rotate {
  transform: rotate(180deg);
}

header .header-container .right .authenticated .nav-link span i {
  width: 15px;
  margin-left: 5px;
  color: white;
  transition: all 0.3s;
}

header .header-container .right .authenticated .display {
  height: auto;
  opacity: 1;
}

header .header-container a {
  color: white;
  text-decoration: none;
}

footer .footer-container {
  padding: 1.5rem 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e4e4e4;
}

footer .footer-container .footer-links h1 {
  margin-bottom: 1rem;
}

footer .footer-container .footer-links ul li {
  list-style-type: none;
  padding: 0.5rem 0;
}

footer .footer-container .footer-links ul li a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

footer .footer-container .contacts a {
  color: #654afe;
  text-decoration: none;
  margin: 0 0.5rem;
}

footer .footer-bottom {
  display: flex;
  color: black;
  padding: 0.25rem 10rem;
  background-color: #e4e4e4;
  justify-content: space-between;
}

footer .footer-bottom a {
  text-decoration: none;
  font-weight: 600;
  color: red;
}

.hide {
  display: none;
}

