main {
  padding-top: calc(1rem + 52px);
}

main .admin-dashboard {
  padding: calc(52px + 1.5rem) 10rem 1.5rem 10rem;
}

main .admin-dashboard .row {
  display: flex;
  border-bottom: 1px solid black;
}

main .admin-dashboard .row .id {
  width: 4rem;
  border-left: 1px solid black;
}

main .admin-dashboard .row .col {
  width: calc(25% - 1rem);
}

main .admin-dashboard .row > div {
  border-right: 1px solid black;
  padding-left: 5px;
  display: flex;
  align-items: center;
}

main .admin-dashboard .row > div:last-of-type {
  display: flex;
  justify-content: space-evenly;
  font-size: large;
}

main .admin-dashboard .row > div:last-of-type a {
  text-decoration: none;
  color: green;
  font-weight: 600;
}

main .admin-dashboard .row > div:last-of-type a:first-of-type {
  color: #654afe;
}

main .admin-dashboard .row > div:last-of-type input {
  background-color: transparent;
  color: red;
  font-weight: 600;
  border: 0;
  font-size: large;
  cursor: pointer;
}

main .admin-dashboard .row > div:last-of-type a:hover,
main .admin-dashboard .row > div:last-of-type input:hover {
  text-decoration: underline;
}

main .admin-dashboard .row:first-of-type {
  border-top: 1px solid black;
}

main .admin-dashboard .row:first-of-type > div {
  display: flex;
  justify-content: center;
  padding: 0;
}

main .posts-container {
  padding: 0 10rem;
}

main .posts-container a {
  text-decoration: none;
  color: black;
}

main .posts-container a .post {
  display: flex;
  padding: 1rem 0;
  border-bottom: 2px solid black;
}

main .posts-container a .post .left {
  width: 30%;
}

main .posts-container a .post .left img {
  width: 100%;
  height: 30vh;
  -o-object-fit: cover;
     object-fit: cover;
}

main .posts-container a .post .right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 2rem;
  width: 70%;
}

main .posts-container a .post .right .title {
  text-align: center;
}

main .posts-container a:hover p {
  text-decoration: underline;
}

main .forms {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .forms form {
  width: 50%;
  display: flex;
  flex-direction: column;
}

main .forms form input,
main .forms form textarea,
main .forms form select,
main .forms form option {
  padding: 0.5rem 1rem;
  margin: 1rem 0;
}

main .forms form input:last-of-type {
  border: 2px solid #654afe;
  border-radius: 5px;
  color: #654afe;
  font-weight: 600;
  background: transparent;
  transition: all 0.3s;
  cursor: pointer;
}

main .forms form input:last-of-type:hover {
  color: white;
  background-color: #654afe;
}

main .post-show-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

main .post-show-container .image {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

main .post-show-container .image img {
  width: 100%;
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

main .post-show-container .image .title {
  position: absolute;
  bottom: 0%;
  -webkit-backdrop-filter: blur(5px) brightness(0.7);
          backdrop-filter: blur(5px) brightness(0.7);
  padding: 0.5rem 1rem;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border: 2px solid white;
  border-bottom: 0;
  color: white;
}

main .post-show-container .content {
  width: 50%;
}

main .post-show-container .content .tags {
  display: flex;
}

main .post-show-container .content .tags .tag {
  width: 20%;
  text-align: center;
  margin: 0.5rem;
  background-color: #f3903c;
  color: white;
  padding: 0.5rem 0;
}

main .post-show-container .content .post-body {
  margin: 2rem 0;
}

