main .products-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: calc(52px + 1.5rem);
}

main .products-container a {
  width: calc(25% - 2rem);
  margin: 0 1rem;
  margin-bottom: 2rem;
  color: black;
  text-decoration: none;
}

main .products-container a .product {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main .products-container a .product img {
  width: 100%;
}

main .products-container a .product .product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

main .products-container a .product .product-info h4 {
  margin-bottom: 1rem;
}

main .products-container a:hover {
  text-decoration: underline;
}

main .show-container {
  padding: 0 10rem;
  padding-top: calc(52px + 1.5rem);
  display: flex;
}

main .show-container .right {
  padding-left: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

main .show-container .right .bottom {
  display: flex;
  justify-content: space-between;
}

main .show-container .right .bottom .price,
main .show-container .right .bottom .aviability {
  display: flex;
}

main .show-container .right .bottom .price p,
main .show-container .right .bottom .aviability p {
  margin-left: 1rem;
}

main .show-container .right .bottom .aviability p {
  color: red;
}

main .admin-dashboard {
  padding: calc(52px + 1.5rem) 10rem 1.5rem 10rem;
}

main .admin-dashboard .row {
  display: flex;
  border-bottom: 1px solid black;
}

main .admin-dashboard .row .id {
  width: 4rem;
  border-left: 1px solid black;
}

main .admin-dashboard .row .col {
  width: calc(25% - 1rem);
}

main .admin-dashboard .row > div {
  border-right: 1px solid black;
  padding-left: 5px;
  display: flex;
  align-items: center;
}

main .admin-dashboard .row > div:last-of-type {
  display: flex;
  justify-content: space-evenly;
  font-size: large;
}

main .admin-dashboard .row > div:last-of-type a {
  text-decoration: none;
  color: green;
  font-weight: 600;
}

main .admin-dashboard .row > div:last-of-type a:first-of-type {
  color: #654afe;
}

main .admin-dashboard .row > div:last-of-type input {
  background-color: transparent;
  color: red;
  font-weight: 600;
  border: 0;
  font-size: large;
  cursor: pointer;
}

main .admin-dashboard .row > div:last-of-type a:hover,
main .admin-dashboard .row > div:last-of-type input:hover {
  text-decoration: underline;
}

main .admin-dashboard .row:first-of-type {
  border-top: 1px solid black;
}

main .admin-dashboard .row:first-of-type > div {
  display: flex;
  justify-content: center;
  padding: 0;
}

main .forms {
  padding: calc(52px + 1.5rem) 10rem 1.5rem 10rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

main .forms form {
  width: 50%;
  display: flex;
  flex-direction: column;
}

main .forms form input,
main .forms form textarea,
main .forms form select,
main .forms form option {
  padding: 0.5rem 1rem;
  margin: 1rem 0;
}

main .forms form input:last-of-type {
  border: 2px solid #654afe;
  border-radius: 5px;
  color: #654afe;
  font-weight: 600;
  background: transparent;
  transition: all 0.3s;
  cursor: pointer;
}

main .forms form input:last-of-type:hover {
  color: white;
  background-color: #654afe;
}

